/*
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
*/

* {
  font-family: 'Lora', serif;
  font-size: 100%;
  text-align: center;
}

.sans {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 100vh;
  background-image: url('cross-mountain.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  color: white;
}

nav {
  width: 90%;
}

.navbar-brand img {
  height: 7vh;
}

.navbar h2 {
  display: inline-block;
  font-size: 4em;
  margin-top: 2vh;
}

.navbar-toggler-icon {
  font-size: 3.2vh;
  color: white;
  z-index: 5;
  margin-top: 2vh;
}

.nav-item:hover {
  border-bottom: 2px solid white;
}

.nav-link {
  text-align: right;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 2.2em;
}

.whatIs {
  position: absolute;
  display: inline-block;
  border: solid 10px white;
  text-align: center;
  margin-top: 30vh;
  background-color: rgba(0, 0, 0, .3)
}

.whatIs h1 {
  font-size: 10vh;
  padding: 10% 10% 10% 10%;
}

.faith {
  background-image: url('bible.jpeg');
  background-size: cover;
  width: 100vw;
  overflow: auto;
}

.faith .container {
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .9);
}

.faith .container p {
  text-indent: 7%;
  padding: 25px 25px 25px 25px;
  text-align: left;
  font-size: 2em;
}

.faith .container p span {
  font-size: 3em;
}

.faith .container h5 {
  font-size: 3em;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.faith .container ul {
  margin: auto;
  width: 90%;
}

.faith .container ul li {
  text-align: left;
  font-size: 2em;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: black;
  color: white;
}

.about a {
  align-self: flex-start;
}

.aboutLeft {
  margin-top: 15vw;
  width: 70vw;
  height: 70vw;
  background-image: url('paul-tripp-head.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutRight {
  margin-top: 15vw;
  width: 70vw;
  font-size: 3em;
  margin-bottom: 15vw;
}

.aboutRight h2 {
  font-size: 1.6em;
  margin-bottom: 10vw;
  border-bottom: solid 3px white;
  padding-bottom: 3vw;
}

.aboutRight p {
  text-align: justify;
}

.testimonials h1 {
  margin-top: 3.5vw;
  margin-bottom: 5vw;
  font-size: 6em;
}

.testText {
  margin-top: 5vw;
  margin-bottom: 3vw;
  font-size: 3em;
  text-align: justify;
}

.testName {
  font-style: italic;
  font-weight: bolder;
  margin-top: 0;
  font-size: 3em;
  margin-bottom: 5vw;
}

.testPic {
  width: 80%;
  padding-top: 80%;
  border: solid 10px black;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.ann {
  background-image: url('ann-voskamp.png');
  background-color: rgb(70, 192, 70);
  background-position-x: 5vw;
}

.matt {
  background-image: url('matt-chandler.png');
  background-color: #09c;
}

.elyse {
  background-image: url('elyse-fitzpatrick.png');
  background-color: #f96;
}

.guide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

.guide a {
  width: 100%;
}

.guide img {
  width: 100%;
  padding-top: 10vw;
  padding-bottom: 5vw;
}

.pricing {
  width: 100%;
}

.pricing h4 {
  font-size: 3em;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.pricing a {
  margin-left: 30%;
  margin-right: 30%;
  width: 30%;
  font-size: 3em;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.video h2 {
  margin-top: 7vw;
  margin-bottom: 7vw;
  font-size: 3em;
}

.video iframe {
  width: 100%;
  height: 45vw;
  border: 0;
  margin-bottom: 10vw;
}

#footer {
  display: flex;
  justify-content: space-around;
  background: black;
  color: white;
}

#footer iframe {
  margin: 4vw 4vw 4vw 4vw;
}

.contact a:link, .contact a:visited, .contact a:active {
  color: white;
}

.contact a:hover {
  color: #aaa;
}

.contact p {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.contact h5 {
  font-size: 1.7em;
  margin-top: 4vw;
  margin-bottom: 2vw;
  text-align: left;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 4em;
  width: 25vw;
}

.social i:hover {
  color: #aaa;
}

@media (min-width: 992px) {

  nav {
    width: 95%;
  }

  .navbar-brand img {
    height: 8vh;
  }

  .navbar h2 {
    font-size: 2.5em;
    margin-top: 3vh;
  }

  .navbar-toggler-icon {
    font-size: 3.2vh;
    margin-top: 2vh;
  }

  .nav-link {
    font-size: 1.2em;
  }

  .about {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
  }
  
  .aboutLeft {
    margin-top: 0;
    margin-left: 10vw;
    width: 35vw;
    height: 100vh;
    background-image: url('meetpaultripp.png');
    background-position: center;
  }
  
  .aboutRight {
    margin-top: 0;
    width: 55vw;
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
  }
  
  .aboutRight h2 {
    font-size: 2.1em;
    margin-bottom: 4vw;
  }

  .testimonial h3 {
    padding-left: 7%;
    padding-right: 7%;
  }
  
  .testText {
    font-size: 1.5em;
  }

  .guide {
    flex-direction: row;
  }
  
  .guide a {
    width: 50%;
  }

  .pricing {
    width: 50%;
  }
  
  .pricing a {
    margin-left: 0%;
    margin-right: 0%;
    width: 60%;
  }

  .video h2 {
    font-size: 3.4em;
  }

}